footer{
    background-color: #f2ecbe;
    width: 100%;
    height: 188px;
} 

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin : 0 125px;
}

footer .container .wrapper-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container .wrapper-menu a {
    text-decoration: none;
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 0 5%;
    margin: 0 7px;
}

footer .container .wrapper-logo{
    width: fit-content;
}

footer .container .wrapper-copyright {
    align-items: center;
    justify-content: center;
}

footer .container .wrapper-copyright p {
    text-decoration: none;
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}