
* {
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: #f2ecbe;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
} 

footer .wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

footer .wrapper-menu a {
    margin-right: 30px;
    text-decoration: none;
    color: #303030;
    font-weight: 600;
    font-size: 16px;
}

footer .wrapper .wrapper-logo img{
    width: 150px;
}

footer .wrapper-copyright p {
    margin-right: 30px;
    text-decoration: none;
    font-size: 16px;
    color: #303030;
    font-weight: 600;
    margin: 0;
}
