nav{
    background-color: #fff;
    z-index: 99999;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
}

nav .wrapper-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

nav .wrapper-link a{
    text-decoration: none;
    text-transform: capitalize;
    color: #695c5c;
    transition: all .2s ease-in-out;
}

nav .wrapper-link a:hover{
    color: #695c5c;
    font-weight: bolder;
}

nav .wrapper-link a:focus{
    font-size: 20px;
    font-weight: bolder;
}

nav .wrapper-user{
    display: flex;
    align-items: center;
    width: max-content;
    gap: 100px;
    justify-content: space-between;
}

nav .wrapper-user .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

nav .wrapper-user .icon a{
    color: #776464;
}

nav .wrapper-user .icon a:focus{
    color: #c2892d;
}

nav .wrapper-user .profile img{
    width: 20px;
    border-radius: 50%;
}