body {
  margin: 0;
  font-family: "poppins";
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Start */
/* nav {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  top: 0;
}

nav .wrapper-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

nav .wrapper-link a {
  text-decoration: none;
  text-transform: capitalize;
  color: #695c5c;
  transition: all 0.2s ease-in-out;
}

nav .wrapper-link a:focus {
  font-size: 20px;
  font-weight: bolder;
}

nav .wrapper-user {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 100px;
  justify-content: space-between;
}

nav .wrapper-user .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

nav .wrapper-user .icon a {
  color: #776464;
}

nav .wrapper-user .icon a:focus {
  color: #c2892d;
}

nav .wrapper-user .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */
/* Navbar End */

/* Main Start */
.artikel {
  margin-top: 125px;
}

.detail-img {
  width: 650px;
  height: 450px;
}

.detail-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.menu a {
  color: #c08261;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 20px;
}

.menu .populer {
  border-bottom: 2px solid #c08261;
}

.artikel-populer h5 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.judul-artikel {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.deskripsi-artikel {
  color: #303030;
  text-align: justify;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.deskripsi-artikel span {
  color: #303030;
  font-family: Open Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.terbaru-line .line {
  height: 2px;
}

.card-link {
  text-decoration: none;
  color: #000;
}

.img-container {
  border-radius: 10px;
  height: 450px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.card-link .artikel-terbaru img {
  transition: transform 0.3s ease;
}

.card-link .artikel-terbaru:hover img {
  transform: scale(1.2);
}

.card-link .artikel-terbaru:hover .overlay {
  opacity: 1;
}

.card-body .card-text {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Main End */

/* Footer Start */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f2ecbe;
  width: 100%;
  height: 188px;
  margin-top: 200px;
}

footer .wrapper-menu {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

footer .wrapper-menu a {
  text-decoration: none;
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer .wrapper-logo img {
  width: 125px;
}

footer .wrapper-copyright p {
  text-decoration: none;
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  margin-top: 100px;
}
/* Footer End */
