* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Section Hero Start*/
#hero {
  margin-top: 140px;
}

.cari #cariBerita {
  border-radius: 5px;
  width: 425px;
  height: 40px;
  padding: 0 10px;
}

.cari-icon {
  background: #9a3b3b;
  width: 60px;
  height: 40px;
  border-radius: 5px;
}

.custom-icon {
  color: #fff;
}

.carousel-text {
  margin-top: 80px;
  margin-right: 50px;
}

.carousel img {
  height: 470px;
}

.carousel-text h4 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 300px;
}

.carousel-text p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 385px;
}

.carousel-text a {
  width: 295px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-arrow-right {
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #9a3b3b;
  margin-right: -12px;
}

.button-arrow-left {
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #9a3b3b;
  margin-left: -12px;
}
/* Section Hero End*/

/* Section Berita Populer Start*/
.populer-line .line,
.terbaru-line .line {
  height: 2px;
}

.card-link {
  text-decoration: none;
  color: #000;
}

.card-link .card-populer .img-container {
  border-radius: 10px;
}

.card-link .card-populer img {
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.card-link .card-populer:hover img {
  transform: scale(1.2);
}

.card-link .card-populer:hover .overlay {
  opacity: 1;
}

.card-populer .card-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Section Berita Populer End*/

/* Section Berita Terbaru Start*/
.text-judul h5 {
  color: #422900;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-judul a {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.card-berita-terbaru {
  width: 420px;
}

.card-berita-terbaru img {
  width: 100%;
}

.card-berita-terbaru h5 {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  text-align: center;
}
/* Section Berita Terbaru End*/