* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Profile Pengguna */

.wrapper-search-bar {
  width: 1150px;
}

.search-bar {
  width: 500px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #dedede;
}

.search-bar input {
  height: 95%;
}

.out {
box-shadow: none !important;
}

.search-bar input::placeholder {
  font-size: 14px;
  color: #8f8f8f;
}

.search-bar button {
  width: 24%;
  height: 95%;
  background-color: #9A3B3B;
}

.search-bar button:hover {
  background-color: #7c2525;
}

.search-bar button:active {
background-color: #7c2525 !important;
}

#profile-pengguna {
  margin-top: 125px;
}

.profile-pribadi img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile-pribadi .nama-pengguna h3 {
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 600;
}

.profile-pribadi .nama-pengguna a {
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #7a9d54;
}

.profile-pribadi .username h5 {
  color: #8f8f8f;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}

/* Tips */
#content3 .tips h1 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
}

#content3 .tips h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  margin-top: 17px;
  margin-bottom: 17px;
}

#content3 .tips p {
  text-align: justify;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}

#content3 .profile-posting {
  align-items: center;
  margin-top: 50px;
}

#content3 .profile-posting img {
  width: 48px;
  height: 48.002px;
  object-fit: cover;
  border-radius: 50%;
}

/* RESEP */
#resep {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}

.container .total-resep h1 {
  color: #303030;
  font-family: Open Sans;
  font-size: 28px;
  font-weight: 600;
}

.container .total-resep h1 span {
  color: #c08261;
  font-family: Open Sans;
  font-size: 28px;
  font-weight: 600;
}

.cari input {
  border-radius: 5px;
  width: 425px;
  height: 40px;
  padding: 0 10px;
}

.cari input:focus {
  outline: none;
}

.cari-icon {
  background: #9a3b3b;
  width: 60px;
  height: 40px;
  border-radius: 5px;
}

.custom-icon {
  color: #fff;
}

.btn-box {
  display: block;
  border-bottom: 2px solid #e9e9e9;
  width: 80%;
  height: 52px;
  margin: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.btn-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 18%;
  padding: 14px 16px;
  margin: 0 20px -2px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #303030;
  font-size: 16px;
  justify-content: center;
  border-bottom: 2px solid #e9e9e9;
}

.content {
  display: none;
  width: 100%;
}

#content1 {
  display: block;
}
.cards {
  width: 1153px;
}

.out {
  box-shadow: none !important;
  outline: none !important;
}

.card {
  width: 211px;
  height: 375px;
  border: none;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.img-resep {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.img-resep img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explain-resep {
  width: 90%;
}

.explain-resep h1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #303030;
}

.kategori-action h2 {
  font-family: "Barlow Condensed", sans-serif;
  color: #c08261;
  letter-spacing: 2px;
  font-size: 14px;
}

.action .bg-icon-tersimpan {
  width: 20px;
  height: 20px;
  background-color: #7a9d54;
  border-radius: 100px;
}

.action .bg-icon-like {
  width: 20px;
  height: 20px;
  background-color: #E41635 ;
  border-radius: 100px;
}

.action .icon {
  width: 10px;
  fill: #fff;
  color: #fff;
}

.time {
  padding: 5px;
  background-color: rgb(192 130 97 / 0.2);
}

.time .icon {
  width: 12px;
  height: 17px;
  color: #c08261;
}

.time p {
  font-size: 12px;
  margin-bottom: 0;
  color: #c08261;
}

.star {
  padding: 5px;
  background-color: rgb(233 184 36 / 0.2);
}

.star .icon {
  width: 12px;
  height: 17px;
  color: #e9b824;
  fill: #e9b824;
}

.star p {
  font-size: 12px;
  margin-bottom: 0;
  color: #303030;
}

#btn1 {
  color: #c08261;
  border-bottom: 2px solid #c08261;
}

/* KOMUNITAS */

.post .profile {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.post .profile img {
  height: 100%;
}

.isi-post {
  width: 100%;
}

.more .icon {
  width: 20px;
  height: 20px;
  color: #8f8f8f;
}

.name-min h3 {
  margin: 0;
}

.name-min p {
  color: #8f8f8f;
  font-size: 14px;
}

.field input {
  height: 52px;
  font-size: 14px;
  box-shadow: none !important;
}

.action-post .icon {
  width: 16px;
  height: 16px;
}

.like .icon {
  fill: #E41635;
  color: #E41635;
}

.action-post p {
  font-size: 14px;
  margin: 0;
}

.like,
.komen,
.share {
  padding: 7px 10px;
  background-color: #f5f5f5;
}

/* Pesanan */
#content4 .kirim-barang span {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
}

#content4 .status-pengiriman {
  height: 90px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#content4 .tanggal-pengiriman {
  width: 120px;
}

#content4 .status-pengiriman h6 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

#content4 .lingkaran-line .lingkaran {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 5px solid #c08261;
}

#content4 .lingkaran-line .line {
  height: 30px;
  width: 3px;
  background-color: #bdbdbd;
}

#content4 .status-barang {
  width: 220px;
}

#content4 .map {
  width: 600px;
}

#content4 .map img {
  height: 385px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#content4 .map .nomor-resi span {
  color: #8f8f8f;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

#content4 .map .nomor-resi span:nth-child(2) {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
