body{
    margin: 0;
    font-family: 'poppins', serif;
    padding: 0;
    scroll-behavior: smooth;
} 

main{
    margin: 5%;
    display: flex;
    flex-direction: column;  
}

main .wrapper-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4%;
    margin-top: 2%;
}

main .wrapper-about .text{
    text-align: justify;
}

main .wrapper-about .text h2{
    font-size: 30px;
    color: #C08261;
    text-transform: capitalize;
    font-family: "poppins";
}

main .wrapper-about .text p{
    text-transform: capitalize;
}

span{
    color: #695c5c;
    font-weight: bolder;
}

main .wrapper-about .picture img{
    border-radius: 20px;
}

main .wrapper-our-team{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

main .wrapper-our-team h2{
    text-align: center;
    color: #C08261;
    text-transform: capitalize;
}

main .wrapper-our-team P{
    text-align: center;
    text-transform: capitalize;
}

main .wrapper-our-team .column{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    text-align: center;
} 

main .wrapper-our-team .column .wrapper-name-picture{
    display: flex;
    gap: 120px;
}

main .wrapper-our-team .column .wrapper-name-picture .profile{
    flex-direction: column; 
    color: #695c5c; 
    font-weight: bolder;
}

main .wrapper-our-team .column div > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}